# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Clowder Framework
email: clowder@lists.illinois.edu
description: >- # this means to ignore newlines until "baseurl:"
  Open Source Data Management for Long Tail Data
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://clowderframework.org/" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: ClowderFramewrk
github_username: clowder-framework
youtube_channel: "https://www.youtube.com/channel/UC3Wkm8t146gSTYyzjSR600g"
slack: "https://join.slack.com/t/clowder-software/shared_invite/enQtMzQzOTg0Nzk3OTUzLTYwZDlkZDI0NGI4YmI0ZjE5MTZiYmZhZTIyNWE1YzM0NWMwMzIxODNhZTA1Y2E3MTQzOTg1YThiNzkwOWQwYWE"
docker: "https://hub.docker.com/orgs/clowder"
# google_analytics:
author: Clowder Framework

# Build settings
markdown: kramdown
# theme: jekyll-theme-minimal
remote_theme: StartBootstrap/startbootstrap-clean-blog-jekyll
paginate:           5
paginate_path:      "/posts/page:num/"
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
