a {
  color: $primary;
  @include transition-all;
  &:focus,
  &:hover {
    color: $black;
  }
}

li :not(.nav-item) {
  a {
    text-decoration: underline;
  }
}

header.masthead {
  background-color: #5B9EBE;
  background: #5B9EBE no-repeat 0% 0%;
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #5B9EBE;
	opacity: 0.5;
  }
  .short-heading {
    padding: 100px 0;
    color: white;
  }
}

.bg-blue {
  background-color: #5B9EBE;
  color: white;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%5B9EBE' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%5B9EBE' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

.carousel-inner{
  width:100%;
  max-height: 500px !important;
}